.btn-table-action {
  margin: 0.2rem 0.25rem;
  padding: 0px 8px;
  background-color: #f8f9fa;
  border-color: #a9abc8;
  display: inline-flex;
  color: yellow;
}

.material-icons.edit {
  color: blue;
}

.material-icons.delete {
  color: red;
}

.logo {
  color: blue;
  font-family: Calibri;
}
